#!/usr/bin/env bash

# Oh my zsh config helpers
# ---------------
alias cddotfiles="cd ~/.dotfiles"
alias reloadcli="source $HOME/.zshrc"

# Openers
# ---------------
alias zshrc="vim ~/.zshrc"
alias sshconfig="vim ~/.ssh/config"

# PHP
alias a="artisan"
alias a8="php8.0 artisan"
alias c="composer"
alias c8="php8.0 /usr/local/bin/composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"

# git
alias dracaris='git reset --hard;git clean -df'

# Tool replacements
alias man=tldr
alias cat='colorize_via_pygmentize'
alias ping='prettyping --nolegend'
alias grep="grep --color=auto"
alias dc="docker-compose"
alias preview="fzf --preview 'bat --color \"always\" {}'"
# List all files colorized in long format
alias l="ls -laF"

# SSH
alias publickey="cat ~/.ssh/id_rsa.pub"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Enable aliases to be sudo’ed
alias sudo='sudo '
