#!/usr/bin/env bash

# Path to dotfiles
export DOTFILESDIR="$HOME/.dotfiles"

# Make vim the default editor
export EDITOR="vim"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Config autosuggest color
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=5'

# setup fzf
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort'"
[ -f /usr/share/doc/fzf/examples/key-bindings.zsh ] && source /usr/share/doc/fzf/examples/key-bindings.zsh

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# fix Setting locale failed error
export LC_CTYPE=en_US.utf-8

# add sbin to path since its not there out of the box (fixes ifconfig on raspbian)
# https://www.raspberrypi.org/forums/viewtopic.php?t=23405#p218792
export PATH=$PATH:/sbin

# load zsh-autosuggestions
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# # source iterm shell extensions if available
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
